body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Header Section */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul{
  list-style: none;
  display: flex;
}
nav button{
  background: none;
  border: none;
  cursor: pointer;
}

/* About Section */
.about{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6%;
}

.about img{
  border-radius: 100%;
  width: 200px;
}

/* Contact Section */
.contact-page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6%;
}
.contact-page form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}
.contact-page label{
  padding: 4px;
}
.contact-page button{
  margin-top: 10px;
  width: 70px;
  margin-left: 30%;
}

/* Footer Section */
footer{
  display: flex;
  justify-content: center;
}

footer a{
  padding: 4px;
  text-decoration: none;
}


